In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/corona-virus-report/covid_19_clean_complete.csv
/kaggle/input/corona-virus-report/country_wise_latest.csv
/kaggle/input/corona-virus-report/day_wise.csv
/kaggle/input/corona-virus-report/usa_county_wise.csv
/kaggle/input/corona-virus-report/worldometer_data.csv
/kaggle/input/corona-virus-report/full_grouped.csv

In [2]:
df=pd.read_csv("../input/corona-virus-report/covid_19_clean_complete.csv")
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [3]:
df=df[["Lat","Long"]]
df

             Lat       Long
0      33.939110  67.709953
1      41.153300  20.168300
2      28.033900   1.659600
3      42.506300   1.521800
4     -11.202700  17.873900
...          ...        ...
49063   0.186400   6.613100
49064  15.552727  48.516388
49065 -11.645500  43.333300
49066  38.861000  71.276100
49067 -29.610000  28.233600

[49068 rows x 2 columns]

In [4]:
df.describe()

                Lat          Long
count  49068.000000  49068.000000
mean      21.433730     23.528236
std       24.950320     70.442740
min      -51.796300   -135.000000
25%        7.873054    -15.310100
50%       23.634500     21.745300
75%       41.204380     80.771797
max       71.706900    178.065000